.main-box{
  height: 99vh;
  position: absolute;
  width: 99%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0f192cd1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(19px);
  z-index: 2;
  
}


.button-box{
  height: 99vh;
  position: absolute;
  width: 99%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.admin-button{
  cursor: pointer;
  height: 133px;
  width: 146px;
  margin: 0px 6px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
  outline-width: 8px;
  background-color: #ffffff00;
  border-color: white;
  font-size: 19px;
}
.spinner-icons{
  font-size: 26px!important;
  text-align: center;
}
.user-button{
  cursor: pointer;
  height: 133px;
  width: 146px;
  margin: 0px 6px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
  outline-width: 8px;
  background-color: #ffffff00;
  border-color: white;
  font-size: 19px;
}

.header-section{
  height: 26px;
  padding: 11px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  height: 54px;
  display: flex;
}
.image-container{
  height: auto;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: #f1f1f1; 
}
.image-list{
  border: 1px solid #edebeb;
  height: 160px;
  width: 177px;
  margin: 10px 9px;
  padding: 4px;
  background-color: white;
}
.image-box{
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.logo{
  height: 41px;
  width: 37px;
  margin: 5px 0px;

}
.text-file{
  display: none!important;
}
.image-list .image-item{
     width: 112px;
    border-radius: 8px;
    margin: 8px auto;
    display: block;
}
.text-box{
  height: 38px;
  min-width: 66%;
  padding: 0px 9px;
  border-radius: 4px;
  border: 1px solid #808080a3;
  margin: 7px 51px;
}
.upload-btn{
  height: 31px;
  padding: 0px 18px;
  border-radius: 4px;
  border: 1px dashed #808080a3;
  position: relative;
  right: 131px;
  top: 10px;
}

/* .upload-btn{
  cursor: pointer;
  height: 31px;
    width: 71px;
    background-color: white;
    border: 1px solid #d7d3d3;
    border-radius: 6px;
    border-style: dashed;
}
.search-btn{
  cursor: pointer;
  height: 35px;
  width: 71px;
  background-color: white;
  border-radius: 6px;
  border: 1px solid gray;
  margin: 8px 132px;

}
.image-item-box{
  height: 80px;
  width: 80px;
  margin: 7px;
} */
.image-list p{
  padding: 0px 3px;
  font-weight: 600;
  line-height: 0;
  text-align: center;
  margin-top: 18px;
}
.modal-box{
  border: 1px solid;
  height: 100vh;
  position: fixed;
  width: 99%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0f192cd1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(19px);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

}
.custom-input {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 0px 17px;
  width: 395px;
  outline: 2px;
  border-radius: 5px;
  height: 40px;

}
.custom-input::placeholder {
  color: white; 
}
.continue-btn{
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: 2px;
  border-radius: 5px;
  height: 40px;
  width: 94px;
  margin: 0px 8px;

}
.skip{
  margin: 0px;
}
.footer{
  height: 78px;
  background-color: #eeeeee;
  display:flex;
  flex-wrap: wrap;
}
.item-list{
  width: 60%;
  float: left;
}
.item-list-1{
  width: 36%;
  text-align: end;
  padding: 0px 10px;
}
.list li{
  display: inline-block;
  list-style: none;
  margin: 5px -37px;

}
.list li a{
  color:black;
  text-decoration: none;

}
.list li a:hover{
  text-decoration: underline;
}
.item-list p{
  padding: 0px 41px;
}
.item-list a{
  padding: 0px 41px;
  color:black;
  text-decoration: none;
}
.item-list a:hover{
  text-decoration: underline;
}


.header-area .box{
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}