.main-box{
  height: 100vh;
  position: fixed;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #0f192cd1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(19px);
  z-index: 2;
  
}


.button-box{
  height: 99vh;
  position: absolute;
  width: 99%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.spinner-icons{
  font-size: 26px!important;
  text-align: center;
}


.header-section{
  height: 26px;
  padding: 11px 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  height: 54px;
  display: flex;
}
.image-container{
  height: auto;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  background-color: #f1f1f1; 
  margin-top: 10px;
}
.image-list{
  border: 1px solid #edebeb;
  height: 160px;
  width: 177px;
  margin: 10px 9px;
  padding: 4px;
  background-color: white;
}
.image-box{
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;

}
.image-list .image-item{
     width: 112px;
    border-radius: 8px;
    margin: 8px auto;
    display: block;
}

.image-list p{
  padding: 0px 3px;
  font-weight: 600;
  line-height: 0;
  text-align: center;
  margin-top: 18px;
}
.modal-box{
  border: 1px solid;
  height: 100vh;
  position: fixed;
  width: 99%;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #0f192cd1;
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(19px);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;

}
.custom-input {
  border: 1px solid white;
  background-color: transparent;
  color: white;
  padding: 0px 17px;
  width: 395px;
  outline: 2px;
  border-radius: 5px;
  height: 40px;

}
.custom-input::placeholder {
  color: white; 
}
.continue-btn{
  cursor: pointer;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  outline: 2px;
  border-radius: 5px;
  height: 40px;
  width: 94px;
  margin: 0px 8px;

}
.skip{
  margin: 0px;
}
.footer{
  height: auto;
  background-color: #eeeeee;
  display: flex;
  flex-wrap: wrap;
  margin-top: 17px;
  font-family: Arial, sans-serif;
  padding: 18px;
  line-height: 0.6;
}
.item-list{
  width: 60%;
  float: left;
}
.item-list-1{
  width: 36%;
  text-align: end;
  padding: 0px 10px;
}
.list li{
  display: inline-block;
  list-style: none;
  margin: 5px -37px;

}
.list li a{
  color:black;
  text-decoration: none;

}
.list li a:hover{
  text-decoration: underline;
}
.item-list p{
  padding: 0px 41px;
}
.item-list a{
  padding: 0px 41px;
  color:black;
  text-decoration: none;
}
.item-list a:hover{
  text-decoration: underline;
}
/* Home-page */

.user-arrow{
  font-size: 35px!important;
  position: absolute;
  margin: -46px -29px;
}
.admin-arrow{
  font-size: 35px !important;
  position: absolute;
  margin: -47px -40px;

}
.user-box{
  margin: 0px 6px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
  outline-width: 8px;
  background-color: #ffffff00;
  font-size: 19px;
  cursor: pointer;
  border-radius: 6px;
  border: 1px solid white;
  height: 133px;
  width: 146px;
  display: flex;
  justify-content: center;
}
.user-btn{
  height: 38px;
  width: 93px;
  margin: 58px 1px;
  background-color: #ffffff00;
  border-radius: 7px;
  border: none;
}
.admin-btn{
  height: 38px;
  width: 93px;
  margin: 58px 27px;
  background-color: #ffffff00;
  border-radius: 7px;
  border: none;
}
.admin-box{
  cursor: pointer;
  height: 133px;
  width: 146px;
  margin: -1px 5px;
  border-radius: 6px;
  font-weight: 600;
  color: white;
  outline-width: 8px;
  background-color: #ffffff00;
  font-size: 19px;
  border: 1px solid white;
}


/* Header.css */
.header-area {
  width: 87%;
  margin: 0 auto;
  height: auto;
  display: flex;
  box-shadow: 1px 2px 3px #dddddd;
}

.logo {
  max-width: 33px;
  height: auto;
  margin: 6px;
}
.main-text-box{
  width: 95%;
    margin: 0 auto;
    display: flex;
align-items: center;
justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Adjust margin as needed */
}

.text-box {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 408px;
  height: 36px;
  margin: 14px 9px;

}

.text-file {
  margin: 0px -80px;
  display: none!important;
}

.upload-btn {
    background-color: white;
    color: black;
    border: 1px dashed gray;
    border-radius: 4px;
    cursor: pointer;
    height: 27px;
    width: 57px;
    margin: 0px -71px;

}

.search-btn {
     background-color: white;
     color: black;
     border: 1px solid gray;
     border-radius: 4px;
     cursor: pointer;
     margin: 0px 83px;
     height: 33px;
     width: 62px;
     font-size: 13px;
}
@media only screen and (max-width: 639px) {
 .text-box{
  width: 336px;
 }
}
@media only screen and (max-width: 569px) {
 .logo{
  margin: 6px auto;
 }
 .header-area{
  flex-wrap: wrap;
 }
  .search-btn{
    margin: 0px 91px;
    width: 57px;
  }
  .text-box{
    width: 511px;
  }
  .upload-btn{
    width: 69px;

  }
 }
 @media only screen and (max-width: 568px) {
 
 }





